# VCS / IDE
.git
.gitignore
.vscode

# Node
node_modules/
npm-debug.log*
yarn.lock # (keep only if you’re not using yarn; otherwise keep it)
.pnpm-store/

# Build output
dist/
build/

# Misc
.DS_Store
.env
