version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fitfolio-backend
    working_dir: /workspaces/fitfolio/backend
    command:
      - uvicorn
      - app.main:app
      - --host
      - 0.0.0.0
      - --port
      - "8000"
      - --reload
      - --reload-dir
      - /workspaces/fitfolio/backend
    environment:
      DATABASE_URL: postgresql://fitfolio_user:supersecret@db:5432/fitfolio
      EMAIL_SENDER: noreply@fitfolio.local
      JWT_SECRET: some_very_secret_key
      VITE_API_BASE_URL: http://localhost:8080
      PYTHONPATH: /workspaces/fitfolio
    ports:
      - "8080:8000"
    depends_on:
      db:
        condition: service_started
        required: true
    volumes:
      - ./:/workspaces/fitfolio:cached


  frontend:
    build:
      context: ./frontend
    container_name: fitfolio-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true

  db:
    image: postgres:16
    container_name: fitfolio-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
