@font-face {
    font-family: 'Recursive';
    src: url('../../public/fonts/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf')
        format('truetype');
    font-weight: 300 1000;
    font-style: oblique -15deg 0deg;
    font-display: swap;
}
