/* Design tokens (skeleton) */
:root {
    /* Color roles (values TBD) */
    /* --color-primary-500: ; */
    /* --color-neutral-900: ; */

    /* Spacing scale (values TBD) */
    /* --space-1: ; */
    /* --space-2: ; */

    /* Radius (values TBD) */
    /* --radius-2: ; */
    /* --radius-3: ; */

    /* Elevation (values TBD) */
    /* --elevation-1: ; */
    /* --elevation-2: ; */
}
